* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: rgb(255, 255, 255);
  --nav-bg-color: rgba(11, 27, 146, 0.507);
  --body-bg-color: rgb(233, 229, 122);
}
body {
  min-height: 100vh;
  background-color: var(--body-bg-color);
}
/* Navigation Bar Styles */
nav {
  width: 100%;
  background-color: var(--nav-bg-color);
  padding: 1rem 2rem;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
nav li {
  cursor: pointer;
}
nav a {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  height: 100%;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover {
  text-decoration: underline;
}
/* Styling saidbar */
.sidebar {
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(10px);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.sidebar li {
  width: 100%;
}
#menu {
  position: fixed;
  top: 0;
  right: 1rem;
  padding: 2px auto;
  cursor: pointer;
  display: none;
}
#close {
  background-color: #171717;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  #menu {
    display: block;
  }
  nav {
    background-color: var(--body-bg-color);
  }
  #main-header {
    width: 60vw;
  }
}

/* --- body design --- */
#main-header {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  margin: 2px 2px;
  background-image: url(us.jpeg);
  background-size: cover;
  background-position: center;
}

#first-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#second-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#footer {
  width: 100%;
  height: 10vh;
  background-color: var(--nav-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
