* {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*fonts*/
  --font-pinyon: "Pinyon Script", cursive;
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-quattrocento: "Quattrocento", serif;
  /*colors*/
  --text-color-light: #e3d9c8;
  --bg-color: #a59a86;
}
.header {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--text-color-light);
  height: 50vh;
  background-image: url(fotos/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.header-text {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  border-radius: 15px;
  margin-top: 18rem;
  color: var(--text-color-light);
}
.header-text h1 {
  font-family: var(--font-pinyon);
  font-size: 2.5rem;
  margin: 0;
}
.header-text h2 {
  font-family: var(--font-roboto-mono);
  font-size: 1.5rem;
  margin: 0;
}

.program {
  background-image: url(https://cdn0.bodas.net/website/fotos/templates/284_home.png?v=d82f2d33a9958f6d39a3cba34e1a81a1);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  font-size: 1em;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  gap: 1em;
}

#button {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 1em;
  color: var(--text-color-light);
}
button {
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  padding: 0.5em 1em;
  cursor: pointer;
}

.info h3 {
  font-family: var(--font-roboto-mono);
  font-size: 1.3em;
  color: var(--text-color-light);
  width: 60%;
  margin: 0 auto 2em auto;
  text-align: center;
}
.info p {
  font-family: var(--font-quattrocento);
  font-size: 1.2rem;
  color: var(--text-color-light);
  width: 80vw;
  margin: 0 auto 1em auto;
  text-align: center;
  letter-spacing: 1px;
}

.program-container {
  display: flex;
}
.album {
  width: 50vw;
}
.carousel {
  margin: 100px auto;
  width: 100vw;
  height: 15em;
  display: flex;
  overflow: hidden;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: spin 14s linear infinite;
  padding-right: 1em;
}
.card {
  flex: 0 0 2em;
  height: 6em;
  padding: 1em;
  border-radius: 3px;
  text-align: center;
  align-content: center;
}
@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  padding: 0.5em;
}
.mapa {
  width: 80vw;
  height: auto;
  border-radius: 15px;
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  text-align: center;
  margin: 2em 0;
}
.footer-container h3 {
  font-family: var(--font-pinyon);
  font-size: 3rem;
}

#submit {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 0.5em 1em;
  color: black;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10%;
}
#form-example > img {
  background-color: transparent;
  border-radius: 15%;
  padding: 0.5em 1em;
  cursor: pointer;
  width: 250px;
  height: 250px;
}

@media (min-width: 1024px) {
  .header-text {
    margin-top: 10%;
  }
  .header-text h1 {
    font-size: 4rem;
  }
  .header-text h2 {
    font-size: 2rem;
  }
  .header {
    background-image: none;
  }
  .program {
    font-size: 2em;
  }
  .button-container {
    font-size: 1.5em;
  }
  .info h3 {
    font-size: 2.3em;
    width: 40%;
  }
  .carousel {
    margin: 100px auto;
    width: 100vw;
    display: flex;
    overflow: hidden;
  }
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: spin 14s linear infinite;
    padding-right: 5em;
  }
  iframe {
    width: 500px;
    height: auto;
  }
}
