body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*fonts*/
  --font-pinyon: "Pinyon Script", cursive;
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-quattrocento: "Quattrocento", serif;
  /*colors*/
  --text-color-light: #faf1e1;
  --bg-color: #a59a86;
}
.header {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--text-color-light);
  height: 50vh;
  background-image: url(fotos/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
}
.header h2 {
  margin-top: -4rem;
  font-size: 1.3rem;
  font-weight: 100;
}
h1 {
  font-family: var(--font-pinyon);
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  padding: 2rem;
}
.header,
p {
  font-family: var(--font-roboto-mono);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.program {
  background-image: url(https://cdn0.bodas.net/website/fotos/templates/284_home.png?v=d82f2d33a9958f6d39a3cba34e1a81a1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  padding: 1em;
  height: 60vh;
  margin-top: -2.5em;
}
.progrma,
p {
  color: white;
  text-align: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7em;
}

#button {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 0.5em 1em;
  color: var(--text-color-light);
}
button {
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  padding: 0.5em 1em;
  cursor: pointer;
}
h3 {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-light);
  text-align: center;
}
.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.program-container {
  display: flex;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.1rem;
}
.album {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  gap: 1rem;
  animation: spin 9s linear infinite;
}
.album-container {
  display: flex;
  width: 90%;
  margin: 100px auto;
  overflow-x: auto;
}
.album-container::-webkit-scrollbar {
  display: none;
}
.card {
  flex: 0 0 5em;
  width: 200px;
  text-align: center;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
.footer-container {
  text-align: center;
  margin: 2em 0;
}
.footer-container h3 {
  font-family: var(--font-pinyon);
  font-size: 3rem;
}

#submit {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 0.5em 1em;
  color: black;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10%;
}
#form-example > img {
  background-color: transparent;
  border-radius: 15%;
  padding: 0.5em 1em;
  cursor: pointer;
  width: 250px;
  height: 250px;
}

#mapa {
  width: 100vw;
  height: auto;
  border-radius: 8%;
  margin-top: 2em;
}
iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
